<!-- People Grid Section -->

<div class="portfolio-grid">
    {% for item in site.people %}
    <div class="portfolio-cell">
        <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
	    {% unless site.theme_settings.hover_caption == false %}
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
	    {% endunless %}
            <center><img src="{{ site.baseurl }}/{{ item.img }}" class="" alt="{{ page.title }}"></center>
	    {% if site.theme_settings.show_caption %}
	    <div class="caption-content"><center> {{ item.title }} </center></div>
	    {% endif %}
        </a>
    </div>
    {% endfor %}
</div>
