---
layout: default
---

<div class="home">

  {% if site.theme_settings.header_feature.carousel %}
  <div id="main">
    <div id="slider">
      {% for slides in site.theme_settings.header_feature.carousel %}
      {% if slides.feature.url %}
      <a href="{{ slides.feature.url }}"><img data-src="{{ slides.feature.image }}" src="" alt="{{ slides.feature.text }}"></a>
      {% else %}
      <img data-src="{{ slides.feature.image }}" src="" alt="{{ slides.feature.text }}">
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.theme_settings.header_feature.image | relative_url }}')">
    <h1> {{ site.theme_settings.header_feature.text }} </h1>
  </div>
  {% endif %}



  <style>

* { box-sizing: border-box; }

.grid {
  //background: #55ff00;
  max-width: 1280px;
  // centered
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer, .grid-item { width: 45%; }

.gutter-sizer { width: 10%; }

.grid-item {
  //height: 240px;
  margin-bottom: 15px;
  float: left;
  background: {{ site.theme_settings.home.background_colour }};
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 100%; }
.grid-item--all { width: 100%; }

@media screen and (min-width: 768px) {
  /* 3 columns for larger screens */
  .grid-sizer, .grid-item { width: 30%; }
  .gutter-sizer { width: 5%; }
  .grid-item--width2 { width: 65%; }
  .grid-item--all { width: 100%; }
}

  </style>

  <div id="areas" class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item grid-item--all">
      <font color={{ site.theme_settings.home.font_colour }}>
	{{ site.theme_settings.home.welcome }}
      </font>
    </div>
    <div class="grid-item">
      <font color={{ site.theme_settings.home.font_colour }}>
	{{ site.theme_settings.home.columnA }}
      </font>
    </div>
    <div class="grid-item">
      <font color={{ site.theme_settings.home.font_colour }}>
	{{ site.theme_settings.home.columnB }}
      </font>
    </div>
    <div class="grid-item">
      <font color={{ site.theme_settings.home.font_colour }}>
	{{ site.theme_settings.home.columnC }}
      </font>
    </div>
  </div>


</div>


{% if site.theme_settings.header_feature.carousel %}
<script src="{{ 'assets/js/vendor/iis/ideal-image-slider.js' | relative_url }}"></script>
<script src="{{ 'assets/js/vendor/iis/extensions/captions/iis-captions.js' | relative_url }}"></script>
<script src="{{ 'assets/js/vendor/iis/extensions/bullet-nav/iis-bullet-nav.js' | relative_url }}"></script>
<script>
  var o = new IdealImageSlider.Slider( {
      selector: '#slider',
      height: 320,
      interval: {{ site.theme_settings.header_feature.interval }}
  } );
  o.addBulletNav();
  o.addCaptions();
  o.start();
</script>
{% endif %}

<script src="{{ "/assets/js/vendor/masonry.pkgd.min.js" | relative_url }}" type="text/javascript"></script>

<script>
  var msnry = new Masonry( '#areas', {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    gutter: 20,
    // disable initial layout
    initLayout: false
  });

  // trigger initial layout
  msnry.layout();
</script>
